@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

@media (640px >= width) {
  html {
    font-size: 7px;
  }
}

@media (540px >= width) {
  html {
    font-size: 6px;
  }
}

@media (480px >= width) {
  html {
    font-size: 5px;
  }
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
  overflow-x: hidden;
}

/* 라이브러리 */

/* 커스텀 */
:root {
  --top-bar-height: 120px;
  --top-bar-width: 720px;
  --top-bar-left: calc(50% - 135px);
}

body {
  background-image: url(https://samdasoo.ekdp.com/assets/templet/enterprise/_/images/layout/webBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.site-wrap {
  position: absolute;
  left: var(--top-bar-left);
  width: var(--top-bar-width);
  max-width: var(--top-bar-width);
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  min-height: 100%;
}

/* 플로팅 버튼 구현 시작 */
.floting-btn-wrap {
  position: fixed;
  left: var(--top-bar-left);
  width: var(--top-bar-width);
  bottom: 30rem;
}

.floting-btn {
  position: absolute;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(45deg, #77b5ff, #4d69ff);
  cursor: pointer;
}
/* 플로팅 버튼 구현 끝 */

/* 상단 스타일 구현 */
.top-bar {
  min-height: var(--top-bar-height);
  max-width: var(--top-bar-width);
}

.top-bar > .inner {
  position: fixed;
  max-height: var(--top-bar-height);
  top: 0;
  left: var(--top-bar-left);
  width: var(--top-bar-width);
  max-width: var(--top-bar-width);
  background-color: #fff;
  z-index: 20;
}

/* 상단 스타일 구현 끝 */

/* 섹션 상단 배너 구현 시작 */
.top-banner__inner {
  /* 	border: 2px solid red; */
}

.top-banner__inner > a {
  display: block;
  width: 91.66667vw;
  max-width: 660px;
  height: 91.6667vw;
  max-height: 660px;
  min-width: 660px;
  margin: 0 auto;
  border-radius: 22px;
  overflow: hidden;
}

.top-banner__inner > a > img {
  max-width: 100%;
  height: 100%;
}

/* 섹션 상단 배너 구현 끝 */

/* 로그인 섹션 배너 구현 시작 */
.login-info-banner__inner {
  background-image: url(https://samdasoo.ekdp.com/assets/templet/enterprise/images/common/main-loginbg-grey.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 91.66667vw;
  max-width: 660px;
  height: 27.5vw;
  max-height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-info-banner__inner > p {
  font-size: 2.8rem;
  margin-left: 40px;
}
/* 로그인 섹션 배너 구현 끝 */

/* 클럽 가입 배너 구현 시작 */
.club-join-banner__inner > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.club-join-banner__inner > a > img {
  width: 91.66667vw;
  max-width: 660px;
}
/* 클럽 가입 배너 구현 끝 */

/* 전체 상품 리스트 구현 시작 */
.all-goods-list__inner {
  width: 100%;
  padding-top: 1.8rem;
  background-color: #a3d84a;
}

.all-goods-list__link {
  display: flex;
  justify-content: end;
}

.all-goods-btn {
  padding-right: 4rem;
  font-size: 2.6rem;
  text-decoration: underline;
  color: white;
}

.all-goods-list__title {
  padding-left: 7rem;
}

.all-goods-list__title > p {
  font-size: 2.8rem;
}

.all-goods-list__title > h3 {
  margin-top: 1.5rem;
  font-size: 5.2rem;
  font-weight: bold;
}

.all-goods-list__top-text {
  color: white;
  margin-top: 4rem;
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 7rem;
}

.all-goods-list__tab-list {
  width: 91.66667vw;
  max-width: 660px;
  height: 12.5vw;
  max-height: 90px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}

.all-goods-list__tab-list > ul {
  width: 100%;
  justify-content: center;
  gap: 0 20px;
}

.all-goods-list__tab-list > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.72222vw;
  max-width: 142px;
  height: 12.5vw;
  max-height: 90px;
  cursor: pointer;
}

.all-goods-list__tab-list > ul > li:nth-child(2) {
  position: relative;
}

.all-goods-list__tab-list > ul > li:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(https://samdasoo.ekdp.com/assets/templet/enterprise/images/common/icon-tab-all.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 120px;
  width: 100px;
  height: 200px;
}

.all-goods-list__tab-list > ul > li > span {
  font-size: 3.2rem;
}

.all-goods-list__tab-list > ul > li:first-child > span {
  color: #666;
}

.all-goods-list__tab-list > ul > li:last-child > span {
  color: #18984b;
}

.all-goods-list__capacity-water-list {
  width: 91.66667vw;
  max-width: 660px;
  height: 12.5vw;
  max-height: 90px;
  margin: 0 auto;
  background: linear-gradient(103.86deg, #77b5ff 6.13%, #4d69ff 107.72%);
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}

.all-goods-list__capacity-water-list > ul {
  width: 100%;
  justify-content: center;
  gap: 0 20px;
}

.all-goods-list__capacity-water-list > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.72222vw;
  max-width: 142px;
  height: 12.5vw;
  max-height: 90px;
  cursor: pointer;
}

.all-goods-list__capacity-water-list > ul > li:first-child {
  position: relative;
}

.all-goods-list__capacity-water-list > ul > li:first-child::before {
  content: "전체";
  position: absolute;
  top: 4.5rem;
  z-index: 10;
  font-size: 3.2rem;
  color: #5d87ff;
}

.all-goods-list__capacity-water-list > ul > li:first-child::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(https://samdasoo.ekdp.com/assets/templet/enterprise/images/common/icon-tab-white.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 120px;
  width: 100px;
  height: 200px;
}

.all-goods-list__capacity-water-list > ul > li > span {
  font-size: 3.2rem;
  color: white;
}

.wish-list-menu {
  background-color: #fff;
}

.wish-list-menu > ul > li {
  display: flex;
  justify-content: center;
  margin: 0 4rem;
  padding-bottom: 8rem;
}

.wish-list-menu > ul > li:not(:first-child) {
  padding-top: 5rem;
}

.wish-list-menu > ul > li:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.wish-list-menu > ul > li > a {
  display: flex;
}

.wish-list-menu .goods-info {
  width: 58.33333vw;
  max-width: 420px;
}

.wish-list-menu .goods-info > p {
  font-size: 3.6rem;
}

.wish-list-menu .goods-info > p:last-child {
  font-weight: bold;
}

.wish-list-menu .goods-img-box {
  width: 27.77778vw;
  max-width: 200px;
  height: 27.77778vw;
  max-height: 200px;
}

.wish-list-menu .goods-img-box > img {
  width: 100%;
  display: block;
}

/* 전체 상품 리스트 구현 끝 */

/* 이벤트 배너 구현 시작 */
.section__event-banner {
  padding: 4rem 0;
  background-color: #eef4ff;
}

.event-banner__inner > a > span {
  font-size: 2.8rem;
}

.event-banner__inner > a > span:nth-child(2) {
  margin-top: 0.8rem;
  margin-left: 2rem;
}

.event-banner__inner > a > span:last-child::after {
  font-family: "fontAwesome";
  display: block;
  content: "\f054";
  margin-left: 2rem;
  margin-top: 0.5rem;
}
/* 이벤트 배너 구현 끝 */

/* 푸터 구현 시작 */
.footer__top {
  padding: 4rem 4rem 3rem 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__bottom {
  padding: 3rem 4rem 8rem 4rem;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-info > .info-arrow {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.footer-info > .info-arrow::after {
  font-family: "fontAwesome";
  display: block;
  content: "\f107";
  color: #fff;
  font-size: 3rem;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
  padding-top: 2rem;
}

.personal-info {
  display: flex;
  align-items: center;
}

.personal-info > ul > li > a {
  display: block;
  font-size: 2.4rem;
  padding-right: 1.5rem;
  position: relative;
}

.personal-info > ul > li:first-child > a {
  color: rgba(255, 255, 255, 0.4);
}

.personal-info > ul > li:last-child > a {
  padding-left: 1.5rem;
}

.personal-info > ul > li:not(:last-child) > a::after {
  content: "";
  position: absolute;
  right: -0.5rem;
  top: 50%;
  transform: translateY(-56%);
  width: 2px;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.sns-list-box {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.sns-list-box > ul > li > a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 10px;
}

.sns-list-box > ul > li > a > img {
  display: block;
  width: 6.66667vw;
  max-width: 48px;
  height: 6.66667vw;
  max-height: 48px;
}

/* 푸터 구현 끝 */

/* 독바 구현 시작 */
.dockbar {
  position: fixed;
  left: var(--top-bar-left);
  background-color: white;
  width: var(--top-bar-width);
  z-index: 10;
  height: 16.66667vw;
  max-height: 120px;
  bottom: 0;
}

.dockbar > ul {
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.dockbar > ul > li > a {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  width: 18.61111vw;
  max-width: 134px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: #1f7dd4;
}

.dockbar > ul > li > a img {
  display: block;
  height: 6.66667vw;
  max-height: 48px;
  width: 6.66667vw;
  max-width: 48px;
}

.dockbar > ul > li:nth-child(3) > a > span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #1f7dd4;
  border-radius: 50%;
  width: 15.55556vw;
  max-width: 112px;
  height: 15.55556vw;
  max-height: 112px;
  top: -5.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.dockbar > ul > li:nth-child(3) > a > span:last-child {
  position: absolute;
  top: 7.2rem;
}

/* 독바 구현 끝 */

@media (1200px > width) {
  body {
    background-image: none;
  }

  .site-wrap,
  .top-bar > .inner,
  .dockbar {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (640px > width) {
  :root {
    --top-bar-width: 100vw;
  }

  .floting-btn {
    right: 19vw;
    width: 14vw;
    height: 14vw;
  }

  .dockbar > ul > li:nth-child(3) > a > span:last-child {
    top: 8.3rem !important;
  }

  .all-goods-list__capacity-water-list > ul > li:first-child::before {
    top: 5.5rem;
  }

  .all-goods-list__tab-list > ul > li:nth-child(2)::after,
  .all-goods-list__capacity-water-list > ul > li:first-child::after {
    background-size: 18.05556vw;
    width: 19.72222vw;
    max-width: 142px;
    height: 29.86111vw;
    max-height: 215px;
  }

  .footer__inner {
    padding-bottom: 15.5rem;
  }
}
